<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.creaturmac.modeloapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Botones" />
        <activity android:name=".txt_img" />
        <activity android:name=".CheckRadio" />
        <activity android:name=".Listas" />
        <activity android:name=".ListaTabla" />
        <activity android:name=".ListaView" />
        <activity android:name=".ListaOpt" />
        <activity android:name=".Tablas" />
        <activity android:name=".CardView" />
        <activity android:name=".ControlPersonal" />
        <activity android:name=".ControlPersonal1" />
        <activity android:name=".ControlPersonal2" />
        <activity android:name=".ControlPersonal3" />
        <activity android:name=".Tabs" />
        <activity android:name=".Fragments" />
        <activity android:name=".fragment_listado" />
        <activity android:name=".fragment_detalle" />
        <activity android:name=".detalle"></activity>
    </application>

</manifest>